.muirtl-1q1u3t4-MuiTableRow-root {
  background-color: getColor(light-background) !important;
}

.muirtl-1ygcj2i-MuiTableCell-root {
  color: getColor(light-gray) !important;
  font-weight: bold !important;
}
