@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: regularCairo;
  src: url("../public/fonts/cairo/Cairo-Regular.ttf");
}

* {
  font-family: regularCairo !important;
}
